html,
body {
  height: 100%;
  width: 100%;
}

.btn-outline-info,
#input,
#submit {
  height: 40px;
}
#input {
  width: 80%;
}
#topics .card {
  height: 250px;
  width: 150px;
}
#results {
  min-width: calc(100% - 130px);
}
img {
  min-height: 200px;
  min-width: 148px;
  max-height: 200px;
  max-width: 150px;
}
