html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #f4f3ea;
}
/* ================ Navbar & Footer styles ============== */
nav,
footer {
  background-color: #333d51;
}
#h1 {
  font-family: "Nothing You Could Do", cursive;
}
#h1-2 {
  font-weight: 200;
  margin-left: 10px;
}
#resultsContainer {
  min-height: calc(100% - 410px);
}

.btn-outline-info,
#input {
  height: 40px;
  background-color: #fff;
}

.btn-outline-info {
  font-family: "Rock Salt", cursive;
}

.card {
  height: 250px;
  width: 180px;
}
p {
  font-family: "Nothing You Could Do", cursive;
  font-weight: bold;
}
.card img {
  min-height: 200px;
  min-width: 178px;
  max-height: 200px;
  max-width: 178px;
}
